@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');

body#collection article.sans, body#post article.sans, body#subpage article.sans, input#title.sans, pre.sans, span.sans, textarea.sans {
    font-family: 'Noto Sans','Open Sans','Segoe UI',Tahoma,Arial,sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1E293B;
    color: #F4F4F4;
    font-family: 'Noto Sans', sans-serif !important;
  }
  #blog-title a {
    color: #d9e1e8;
  }
  .post-title a:link, .post-title a:visited {
    color: rgb(214, 211, 205);
  }
  #wrapper h1, #wrapper h2, #wrapper h3 {
    color: rgb(214, 211, 205);
  }
  .hashtag {
    color: #0482D8;
  }
  article a {
    color: #0482D8;
  }
  #collection article code, #post article code, #subpage article code {
    background-color: #333;
    border-color: #666;
  }
  body footer nav {
    color: #888;
  }
  .pinned {
      color: #F7CB1A;
  }
  .description {
      color: #58CADF !important;
  }
}